:root{
  --first-color: white;
  --bg-color: black;
    
}

html{
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before{
  box-sizing: inherit;
  font-size: 16px;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: white;
}

h1{
  color: white;
}

a{
  text-decoration: none;
}
.title{
  color: white;
}